.sectionContainerDivExito{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    

.containerExito {
    border: 1px solid transparent;
    border-radius: 35px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10%;
    margin-top: 10%;
    background: $bc-gradiant3;
}
}