// $brand-font-size:1em;
$link-font-size:0.9em;
$general-font-color:rgb(3, 3, 3);

$colflechas-carrousel:rgba(91, 30, 30, 0.027);

$medidaminima:200px;
$width-responsive:100%;

$bc-header:rgba(175, 167, 167, 0.355);
$bc-body: rgba(104, 95, 95, 0.944);
$bc-header-gradiant: radial-gradient(circle, rgba(238, 174, 202, 0.388) 0%, rgba(148, 188, 233, 0.221) 100%);
$bc-gradiant2: radial-gradient(circle, rgba(56, 207, 205, 0.097) 0%, rgba(157, 57, 92, 0.221) 100%);
$bc-gradiant3: radial-gradient(ellipse at left, rgba(69, 5, 230, 0.039) 20%, rgba(222, 73, 14, 0.096) 50%);
$bc-gradiant4: radial-gradient(circle, rgba(211, 210, 214, 0.902) 20%, rgba(229, 228, 228, 0.125) 40%);
$bc-gradiant5: radial-gradient(circle,  rgba(42, 229, 226, 0.113) 10%, rgba(215, 198, 207, 0.033) 60%);
$bc-gradiant6: radial-gradient(rgba(238, 174, 202, 0.095) 0%, rgba(148, 188, 233, 0.083) 100%);



/* 
colores utilizados antes: 
$bc-header-gradiant: linear-gradient(to bottom, #cddce0 0%, #ffecf633 100%);*/
// $bc-header:rgba(238, 236, 236, 0.897);
/* $general-font-color:rgb(63, 58, 58); */
